#p1-heading {
    font-family: cursive;
    text-align: center;
}
#p1-c1 {
    background-color: #364958;
    color: #C9E4CA;
    text-align: center;
    padding: 24;
    
}
#p1-c2 {
    background-color: #3B6064;
    color:#C9E4CA ;
    text-align: center;
    padding: 24;
}
#p1-c3 {
    background-color: #55828B;
    color:#C9E4CA ;
    text-align: center;
    padding: 24;
}
