* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
}

#hero-1 {
    height: 100vh;
    background-image: url(../images/image4.jpg);
    background-size: cover;
}
#hero-1 h6 {
    box-shadow: inset;
    background-color: beige;
}
