@import url("https://use.typekit.net/pmd8jeg.css");
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#menu-page {
    background-image: url(../images/greenery3.jpg);
 
}
#menu-link {
    font-size: 44px;
}
#navbar {
    background: linear-gradient(to bottom, rgb(1, 53, 1), #3e6d3e);
    display: flex;
    justify-content: right;
    font-family: active, sans-serif;
    font-weight: 400;
    font-style: normal;
    align-items: center;   
}
#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
.logo {
    margin-right: auto;
    font-size: 34px;
    font-family: "charmonman", sans-serif;
}
#hero {
    background: linear-gradient(to top, #3734347c,#3734347c) ,url(../images/chicken-salad.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 24px;
}
#hero h1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-family: active, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.button {
    background-color:rgb(255, 255, 255);
    padding: 24px;
    border-radius: 24px;
}
#header-2 {
    background: linear-gradient(to top, #ffffff7c,#3734347c) ,url(../images/featured-dish.jpg);
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    background-size: cover;
    height: 100vh;
    background-position: center;
    font-family: active, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 50%;
    margin: 0px auto;
}
#header-2 h2 {
    color: azure;
    font-family: active, sans-serif;
    font-weight: 400;
    font-style: normal;
}
#header-2 h1 {
    color: azure;
}
#header-2 h3 {
    color: white;
    background-color: rgb(119, 75, 21);
    border-radius: 10px;
}
#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}
.card img {
    height: 150px;
    object-fit: cover;
}
.card {
    width: 350px;
    border: 2px solid #1fd70e;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px #03160a;
    background: linear-gradient(-50deg, #22a01f, #fff7f7, #749c6f);
    font-family: active, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.card h2 {
    font-size: 36px;
    margin-top: 12px;
}
.card p {
    font-size: 18px;
}
.card .btn {
    color: black;
    text-decoration: none;
    background-color: #4a3636;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 3px solid lightcoral;
    padding: 10px;
    transition: 
        background-color 0.5s, 
        color 0.5s
    ;
    &:hover {
        background-color: transparent;
        color: rgb(210, 36, 36);
    }
}
.button {
    color: #3e6d3e;
    text-decoration: none;
    font-family: active, sans-serif;
    font-weight: 400;
    font-style: normal;
    border: #03160a;
}
@media screen and (max-width: 480px) {
    #navbar {
        flex-wrap: wrap;
        flex-direction: column;
    }
}