* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
   background-color: rgb(203, 162, 113);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 24px;
}
#navbar img {
    width: 200px;
}
#navbar #logo {
    margin-right: auto;
    display: block;
}
#hero {
    background-image: url(../image-hero.jpg);
    height: 100vh;
    background-size: cover;
}
h1 {
    font-size: 100px ;
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(white, rgb(213, 104, 182))    
}
#text {
    font-size: x-large;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(blue, white);
}
#pitbull {
    background-image: url(../pitbull.jpg);
    height: 100vh;
    background-size: cover;
    
}
#rosco {
    background-image: url(../rosco.jpg);
    height: 100vh;
    background-size: cover;
 
}
#rosco h1 {
    background: linear-gradient(blue, white);
}
#angel {
    background-image: url(../angel.jpg);
    height: 100vh;
    background-size: cover;

}
h1 {
    text-align: center;
}


